# File: .ebextensions/02_env_vars.config
option_settings:
  aws:elasticbeanstalk:application:environment:
    DB_HOST: rmap-db.cpkuqe2goemd.ap-southeast-1.rds.amazonaws.com
    DB_USER: rmap_admin
    DB_PASS: '$ACT_RMAP_2025$'
    DB_NAME: project_prototype_1
    JWT_SECRET_KEY: d0db177f89fed97132fe3b1482ccd51f5e332b5fa3a8f9015d59f1c37829be0e