# .ebextensions/01_composer.config
packages:
  yum:
    php-cli: []
    unzip: []

commands:
  01_download_composer:
    cwd: /tmp
    command: |
      curl -sS https://getcomposer.org/installer | php
      mv composer.phar /usr/local/bin/composer
      chmod +x /usr/local/bin/composer

container_commands:
  01_run_composer:
    command: "composer install --no-dev --optimize-autoloader --working-dir=/var/app/current"
    leader_only: true