# File: .ebextensions/04_https.config
Resources:
  # Add 443 inbound rule to security group
  sslSecurityGroupIngress:
    Type: AWS::EC2::SecurityGroupIngress
    Properties:
      GroupId: {"Fn::GetAtt" : ["AWSEBSecurityGroup", "GroupId"]}
      IpProtocol: tcp
      ToPort: 443
      FromPort: 443
      CidrIp: 0.0.0.0/0

option_settings:
  # Configure load balancer for HTTPS
  aws:elasticbeanstalk:environment:
    LoadBalancerType: application
  aws:elbv2:listener:443:
    ListenerEnabled: true
    Protocol: HTTPS
    SSLCertificateArns: arn:aws:acm:ap-southeast-1:572949205015:certificate/e4e1bdf6-72b4-43c3-a288-14cc7b17303b